/*
Max Clingroth
systems.css
11/3/22
*/

/*Resets default style*/
body, header, nav, footer {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Formats images to be responsive*/
img {
    max-width: 100%;
    display: block;
}

/*Formats the body of the webpage*/
body {
    font-family:'Lucida Sans', Geneva, Verdana, sans-serif;
    background-color: #A5A7D5;
}

/*Formats the header*/
header {
    float: left;
    margin: 2em 0 .8em 1em;
    width: 30%;
}

/*Formats the navigation*/
nav {
    float: right;
    margin: 2em 1em 0 0;
    width: 65%;
}

/*Formats main body*/
main {
    clear: left;
    margin: 0 1em 2em;
    padding: .4em;
}

/*Formats the footer*/
footer {
    text-align: center;
    vertical-align: baseline;
}

/*Formats navigation*/
nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

/*Formats navigation area*/
nav li {
    display: inline-block;
}

/*Formats navigation links*/
nav li a {
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    color: black;
    text-decoration: none;
}

nav li a:hover {
    color: #5000aa;
}

/*Creates Dropdown menu*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-links {
    display: none;
    position: absolute;
    background-color: #fcfdfc;
    font-size: .9em;
}

.dropdown-links a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: black;
    padding: .3em;
    border: 1px solid;
    border-color: black;
}

.dropdown:hover .dropdown-links {
    display: block;
}

.dropdown:hover li {
    color: #5000aa;
}

.dropdown a:hover {
    background-color: #a6bce1;
}

/*Formats dropdown*/
.dropdown li {
    margin: 0 1em;
}

/*Formats Forms*/
input {
    margin: .3em 0;
}

#feedback_type {
    margin: .5em 0;
}

/*Formats social media links*/
footer {
    clear: both;
}

footer ul {
    list-style-type: none;
    margin: 0;
}

footer li {
    display: inline-block;
    padding: 0 0.5em;
}

/*Formats sidebar image*/
.sidebar {
    float: left;
    margin-right: 1.5em;
    margin-bottom: .5em;
}

/*Formats page headings*/
.page-titles {
    font-size: 2em;
    text-align: center;
}

/*Formats ebike pricing*/
.pricing {
    list-style-type: none;
    font-weight: bold;
}

.pricing li {
    margin: .2em 0;
}